@import "../Abstract/variable";

// ============== login scss start ======================

.social-media {
  position: relative;

  & .google-login {
    padding: 12px 65px 12px 72px;
    font-size: 14px;
    width: 100%;
    border-radius: 16px;
    background-color: $light;
    color: $dark;
    border: none;
    font-weight: 700;
    white-space: nowrap;
    background-image: url("../../Images/google-178-svgrepo-com 1.png");
    background-repeat: no-repeat;
    background-position: 73px center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    @include maxMediaQuery($sm) {
      font-size: 12px;
      padding: 14px 63px 14px 95px !important;
      background-position: 73px center;
    }
    @include maxMediaQuery($sm) {
      &.mb-3 {
        margin-bottom: 16px;
      }
    }
  }
}

.error {
  color: red;
  white-space: nowrap;
}

// ================= login scss end =============================

// ========================= navbar csss==============================

// =============== menuList css========================

.TableSection {
  & .tableHeader {
    & p {
      font-weight: 900;
      font-size: 50px;
      line-height: 60.51px;
      @include maxMediaQuery($smm) {
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
      }
      @include maxMediaQuery($lg) {
        font-size: 50px;
        text-align: center;
      }
      @media screen and (min-width: 280px) and (max-width: 384px) {
        font-size: 40px !important;
        white-space: nowrap;
      }
    }
  }
  & .tableBox {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    cursor: pointer;
    @include maxMediaQuery($xxl) {
      display: flex;
      justify-content: center;
    }
    @include maxMediaQuery($sm) {
      display: unset;
      justify-content: unset;
    }

    & .table-login {
      width: 409px;
      height: 103px;
      font-size: 32px;
      border-radius: 16px;
      text-transform: uppercase;
      background-color: #323231;
      color: $light;
      border: none;
      font-weight: 900;
      white-space: nowrap;
      background-image: url("../../Images/table.png");
      background-repeat: no-repeat;
      background-position: 49px center;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      @include maxMediaQuery($xl) {
        background-position: 23px center;
        font-size: 25px;
      }
      @include maxMediaQuery($lg) {
        width: 245px;
        font-size: 22px;
        background-position: 18px center;
        height: 103px;
      }
      @include maxMediaQuery($md) {
        width: 410px;
        font-size: 22px;
        background-position: 45px center;
        height: 103px;
      }
      @include maxMediaQuery($smm) {
        width: 350px !important;
        background-position: 30px center;
        height: 97px;
      }
      @media screen and (min-width: 280px) and (max-width: 384px) {
        width: 255px !important;
      }
      @include maxMediaQuery($sm) {
        &.mb-3 {
          margin-bottom: 16px;
        }
      }
    }
  }
}

// ======================= category start =======================
.MainCategory {
  & .logobar {
    margin-left: 300px;
    @include maxMediaQuery($xl) {
      display: flex;
      justify-content: start;
      margin: 0px !important ;
    }
  }
  & .categoryHeader {
    & p {
      font-weight: 900;
      font-size: 50px;
      line-height: 60.51px;
      @include maxMediaQuery($lg) {
        font-size: 25px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
      }
    }
  }
  & .retrun-icon {
    border: 3px solid $prime;
    width: 48px;
    height: 48px;
    border-radius: 11px;
    background-color: #352e23;
    text-align: center;
    cursor: pointer;
    @include maxMediaQuery($lg) {
      display: none;
    }
    & i {
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%);
    }
  }
  & .retrun-icon-2 {
    border: 3px solid $prime;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 11px;
    background-color: #352e23;
    text-align: center;
    display: none !important;
    @include maxMediaQuery($lg) {
      display: block !important;
    }
    & i {
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%);
    }
  }
  & .CategoryBox {
    background-color: $third;
    width: 199px;
    height: 230px;
    margin-top: 40px;
    border-radius: 16px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    @include maxMediaQuery($lg) {
      width: 177px !important;
      margin: 0px !important;
    }
    @include maxMediaQuery($smm) {
      width: 150px !important;
      height: 185px !important;
    }
    @media screen and (min-width: 280px) and (max-width: 384px) {
      width: 120px !important;
    }

    & p {
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
    }
    & .CategoryImg img {
      @media screen and (min-width: 280px) and (max-width: 384px) {
        width: 60px !important;
      }
    }
    & .CategoryImg img {
      width: 80px !important;
    }
  }
}

// ======================= category code  =======================

// =========================== pizza start ============================

.MainPizzaSection {
  & .pizza-media {
    position: relative;

    & .pizza-login {
      width: 800px !important;
      height: 59px;
      font-size: 16px;
      width: 100%;
      background-color: $third;
      text-transform: uppercase;
      color: $light;
      border: none;
      font-weight: 700;
      white-space: nowrap;
      background-image: url("../../Images/pizza-icon.png");
      background-repeat: no-repeat;
      background-position: 340px center;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      @include maxMediaQuery($sm) {
        font-size: 12px;
        padding: 14px 63px 14px 95px !important;
        background-position: 73px center;
      }
      @include maxMediaQuery($sm) {
        &.mb-3 {
          margin-bottom: 16px;
        }
      }
    }
  }
  & .combo-media {
    position: relative;

    & .combo-login {
      height: 59px;
      font-size: 16px;
      width: 100%;
      background-color: $prime;
      text-transform: uppercase;
      padding-top: 6px;
      color: $light;
      border: none;
      font-weight: 700;
      white-space: nowrap;
      background-image: url("../../Images/combo.png");
      background-repeat: no-repeat;
      background-position: 350px center;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      @include maxMediaQuery($sm) {
        font-size: 12px;
        padding: 14px 63px 14px 95px !important;
        background-position: 73px center;
      }
      @include maxMediaQuery($sm) {
        &.mb-3 {
          margin-bottom: 16px;
        }
      }
    }
  }
  & .MainPizzaBox {
    background-color: $light;
    width: 383px;
    height: 170px;
    border-radius: 5px;

    @media screen and (min-width: 280px) and (max-width: 387px) {
      display: unset !important;
      height: unset !important;
    }

    @media screen and (min-width: 1399px) and (max-width: 1700px) {
      width: 326px !important;
    }

    & .PizzaImg {
      display: inline-block;
      & img {
        width: 130px;
        height: 152px;
        margin: 9px;
        border-radius: 5px;
        @media screen and (min-width: 280px) and (max-width: 387px) {
          width: 245px !important;
        }
        @media screen and (min-width: 1399px) and (max-width: 1700px) {
          width: 109px;
        }
      }
    }
    & .pizzadetails {
      @media screen and (min-width: 280px) and (max-width: 387px) {
        padding-left: 24px;
        padding-bottom: 10px;
      }
      & .title {
        font-size: 16px;
        color: $prime;
        font-weight: 900;
       
        @media screen and (min-width: 1200px) and (max-width: 1700px) {
          font-size: 12px;
        }
      }
      & .descripnation {
        font-size: 12px;
        color: $gray2;
        font-weight: 400;
        @media screen and (min-width: 1200px) and (max-width: 1700px) {
          // width: 160px;
        }
      }
      & .add-show {
        width: 60px;
        height: 23px;
        border-radius: 3px;
        background-color: $prime;
        color: $light;
        text-transform: uppercase;
        font-size: 12px;
        border: 1px solid $prime;
        margin-right: 5px;
      }
      & .show-details {
        width: 80px;
        height: 23px;
        margin-right: 55px;
        border-radius: 3px;
        background-color: $prime;
        color: $light;
        text-transform: uppercase;
        font-size: 12px;
        border: 1px solid $prime;
        @media screen and (min-width: 1200px) and (max-width: 1700px) {
          margin-right: 28px !important;
        }
      }
    }
    & .counter {
      display: flex;
      align-items: center;
      font-family: Arial, sans-serif;
      & .counter-button {
        background-color: #af7b3b;
        color: white;
        border: none;
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 5px;
      }
      & .decrement,
      .increment {
        background-color: #af7b3b;
        color: white;
        border: none;
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 700;
      }

      & .counter-number {
        font-size: 16px;
        font-weight: 700;
        margin-right: 5px;
        color: $prime;
      }
    }
  }
  & .cart-view {
    background-color: $prime;
    width: 1037px;
    height: 61px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    position: fixed;
    top: 90%;
   
    @media screen and (max-width: 991px) {
      top: 77%;
      position: fixed;
    }
    @media screen and (max-width: 991px) {
      width: 350px !important;
    }
    @media screen and (min-width: 280px) and (max-width: 387px) {
      width: 275px !important;
     
    }
    & p{
      @media screen and (min-width: 280px) and (max-width: 387px) {
      padding-left: 16px !important;
      padding-right: 16px !important;
       
      }
    }
  }
  & .show {
    @media screen and (max-width: 991px) {
      display: none !important;
    }

    & .menu-item {
      flex: 1;
      text-align: center;
      height: 59px;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition:
        background-color 0.3s,
        color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;

      & .icon {
        height: 25px;
        margin: 0 13px 5px;
      }
    }
  }
  & .show-1  {
   
    display: none !important;
    @media screen and (max-width: 991px) {
      display: block !important;
    }
  }
}

// =========================== pizza end ============================
