@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
.social-media {
  position: relative;
}
.social-media .google-login {
  padding: 12px 65px 12px 72px;
  font-size: 14px;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-weight: 700;
  white-space: nowrap;
  background-image: url("../../Images/google-178-svgrepo-com 1.png");
  background-repeat: no-repeat;
  background-position: 73px center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .social-media .google-login {
    font-size: 12px;
    padding: 14px 63px 14px 95px !important;
    background-position: 73px center;
  }
}
@media screen and (max-width: 576px) {
  .social-media .google-login.mb-3 {
    margin-bottom: 16px;
  }
}

.error {
  color: red;
  white-space: nowrap;
}

.TableSection .tableHeader p {
  font-weight: 900;
  font-size: 50px;
  line-height: 60.51px;
}
@media screen and (max-width: 450px) {
  .TableSection .tableHeader p {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
  }
}
@media screen and (max-width: 992px) {
  .TableSection .tableHeader p {
    font-size: 50px;
    text-align: center;
  }
}
@media screen and (min-width: 280px) and (max-width: 384px) {
  .TableSection .tableHeader p {
    font-size: 40px !important;
    white-space: nowrap;
  }
}
.TableSection .tableBox {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .TableSection .tableBox {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .TableSection .tableBox {
    display: unset;
    justify-content: unset;
  }
}
.TableSection .tableBox .table-login {
  width: 409px;
  height: 103px;
  font-size: 32px;
  border-radius: 16px;
  text-transform: uppercase;
  background-color: #323231;
  color: #ffffff;
  border: none;
  font-weight: 900;
  white-space: nowrap;
  background-image: url("../../Images/table.png");
  background-repeat: no-repeat;
  background-position: 49px center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .TableSection .tableBox .table-login {
    background-position: 23px center;
    font-size: 25px;
  }
}
@media screen and (max-width: 992px) {
  .TableSection .tableBox .table-login {
    width: 245px;
    font-size: 22px;
    background-position: 18px center;
    height: 103px;
  }
}
@media screen and (max-width: 768px) {
  .TableSection .tableBox .table-login {
    width: 410px;
    font-size: 22px;
    background-position: 45px center;
    height: 103px;
  }
}
@media screen and (max-width: 450px) {
  .TableSection .tableBox .table-login {
    width: 350px !important;
    background-position: 30px center;
    height: 97px;
  }
}
@media screen and (min-width: 280px) and (max-width: 384px) {
  .TableSection .tableBox .table-login {
    width: 255px !important;
  }
}
@media screen and (max-width: 576px) {
  .TableSection .tableBox .table-login.mb-3 {
    margin-bottom: 16px;
  }
}

.MainCategory .logobar {
  margin-left: 300px;
}
@media screen and (max-width: 1200px) {
  .MainCategory .logobar {
    display: flex;
    justify-content: start;
    margin: 0px !important;
  }
}
.MainCategory .categoryHeader p {
  font-weight: 900;
  font-size: 50px;
  line-height: 60.51px;
}
@media screen and (max-width: 992px) {
  .MainCategory .categoryHeader p {
    font-size: 25px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
}
.MainCategory .retrun-icon {
  border: 3px solid #9B7A41;
  width: 48px;
  height: 48px;
  border-radius: 11px;
  background-color: #352e23;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .MainCategory .retrun-icon {
    display: none;
  }
}
.MainCategory .retrun-icon i {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%);
}
.MainCategory .retrun-icon-2 {
  border: 3px solid #9B7A41;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 11px;
  background-color: #352e23;
  text-align: center;
  display: none !important;
}
@media screen and (max-width: 992px) {
  .MainCategory .retrun-icon-2 {
    display: block !important;
  }
}
.MainCategory .retrun-icon-2 i {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%);
}
.MainCategory .CategoryBox {
  background-color: #323232;
  width: 199px;
  height: 230px;
  margin-top: 40px;
  border-radius: 16px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .MainCategory .CategoryBox {
    width: 177px !important;
    margin: 0px !important;
  }
}
@media screen and (max-width: 450px) {
  .MainCategory .CategoryBox {
    width: 150px !important;
    height: 185px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 384px) {
  .MainCategory .CategoryBox {
    width: 120px !important;
  }
}
.MainCategory .CategoryBox p {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (min-width: 280px) and (max-width: 384px) {
  .MainCategory .CategoryBox .CategoryImg img {
    width: 60px !important;
  }
}
.MainCategory .CategoryBox .CategoryImg img {
  width: 80px !important;
}

.MainPizzaSection .pizza-media {
  position: relative;
}
.MainPizzaSection .pizza-media .pizza-login {
  width: 800px !important;
  height: 59px;
  font-size: 16px;
  width: 100%;
  background-color: #323232;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  font-weight: 700;
  white-space: nowrap;
  background-image: url("../../Images/pizza-icon.png");
  background-repeat: no-repeat;
  background-position: 340px center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .MainPizzaSection .pizza-media .pizza-login {
    font-size: 12px;
    padding: 14px 63px 14px 95px !important;
    background-position: 73px center;
  }
}
@media screen and (max-width: 576px) {
  .MainPizzaSection .pizza-media .pizza-login.mb-3 {
    margin-bottom: 16px;
  }
}
.MainPizzaSection .combo-media {
  position: relative;
}
.MainPizzaSection .combo-media .combo-login {
  height: 59px;
  font-size: 16px;
  width: 100%;
  background-color: #9B7A41;
  text-transform: uppercase;
  padding-top: 6px;
  color: #ffffff;
  border: none;
  font-weight: 700;
  white-space: nowrap;
  background-image: url("../../Images/combo.png");
  background-repeat: no-repeat;
  background-position: 350px center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .MainPizzaSection .combo-media .combo-login {
    font-size: 12px;
    padding: 14px 63px 14px 95px !important;
    background-position: 73px center;
  }
}
@media screen and (max-width: 576px) {
  .MainPizzaSection .combo-media .combo-login.mb-3 {
    margin-bottom: 16px;
  }
}
.MainPizzaSection .MainPizzaBox {
  background-color: #ffffff;
  width: 383px;
  height: 170px;
  border-radius: 5px;
}
@media screen and (min-width: 280px) and (max-width: 387px) {
  .MainPizzaSection .MainPizzaBox {
    display: unset !important;
    height: unset !important;
  }
}
@media screen and (min-width: 1399px) and (max-width: 1700px) {
  .MainPizzaSection .MainPizzaBox {
    width: 326px !important;
  }
}
.MainPizzaSection .MainPizzaBox .PizzaImg {
  display: inline-block;
}
.MainPizzaSection .MainPizzaBox .PizzaImg img {
  width: 130px;
  height: 152px;
  margin: 9px;
  border-radius: 5px;
}
@media screen and (min-width: 280px) and (max-width: 387px) {
  .MainPizzaSection .MainPizzaBox .PizzaImg img {
    width: 245px !important;
  }
}
@media screen and (min-width: 1399px) and (max-width: 1700px) {
  .MainPizzaSection .MainPizzaBox .PizzaImg img {
    width: 109px;
  }
}
@media screen and (min-width: 280px) and (max-width: 387px) {
  .MainPizzaSection .MainPizzaBox .pizzadetails {
    padding-left: 24px;
    padding-bottom: 10px;
  }
}
.MainPizzaSection .MainPizzaBox .pizzadetails .title {
  font-size: 16px;
  color: #9B7A41;
  font-weight: 900;
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .MainPizzaSection .MainPizzaBox .pizzadetails .title {
    font-size: 12px;
  }
}
.MainPizzaSection .MainPizzaBox .pizzadetails .descripnation {
  font-size: 12px;
  color: #636363;
  font-weight: 400;
}
.MainPizzaSection .MainPizzaBox .pizzadetails .add-show {
  width: 60px;
  height: 23px;
  border-radius: 3px;
  background-color: #9B7A41;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #9B7A41;
  margin-right: 5px;
}
.MainPizzaSection .MainPizzaBox .pizzadetails .show-details {
  width: 80px;
  height: 23px;
  margin-right: 55px;
  border-radius: 3px;
  background-color: #9B7A41;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #9B7A41;
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .MainPizzaSection .MainPizzaBox .pizzadetails .show-details {
    margin-right: 28px !important;
  }
}
.MainPizzaSection .MainPizzaBox .counter {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}
.MainPizzaSection .MainPizzaBox .counter .counter-button {
  background-color: #af7b3b;
  color: white;
  border: none;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}
.MainPizzaSection .MainPizzaBox .counter .decrement,
.MainPizzaSection .MainPizzaBox .counter .increment {
  background-color: #af7b3b;
  color: white;
  border: none;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}
.MainPizzaSection .MainPizzaBox .counter .counter-number {
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
  color: #9B7A41;
}
.MainPizzaSection .cart-view {
  background-color: #9B7A41;
  width: 1037px;
  height: 61px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 7px;
  position: fixed;
  top: 90%;
}
@media screen and (max-width: 991px) {
  .MainPizzaSection .cart-view {
    top: 77%;
    position: fixed;
  }
}
@media screen and (max-width: 991px) {
  .MainPizzaSection .cart-view {
    width: 350px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 387px) {
  .MainPizzaSection .cart-view {
    width: 275px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 387px) {
  .MainPizzaSection .cart-view p {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
@media screen and (max-width: 991px) {
  .MainPizzaSection .show {
    display: none !important;
  }
}
.MainPizzaSection .show .menu-item {
  flex: 1;
  text-align: center;
  height: 59px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPizzaSection .show .menu-item .icon {
  height: 25px;
  margin: 0 13px 5px;
}
.MainPizzaSection .show-1 {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .MainPizzaSection .show-1 {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */