@import "../Abstract/variable";

// ============== login scss start ======================

.social-media {
  position: relative;

  & .google-login {
    padding: 12px 65px 12px 72px;
    font-size: 14px;
    width: 100%;
    border-radius: 16px;
    background-color: $light;
    color: $dark;
    border: none;
    font-weight: 700;
    white-space: nowrap;
    background-image: url("../../Images/google-178-svgrepo-com 1.png");
    background-repeat: no-repeat;
    background-position: 73px center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    @include maxMediaQuery($sm) {
      font-size: 12px;
      padding: 14px 63px 14px 95px !important;
      background-position: 73px center;
    }
    @include maxMediaQuery($sm) {
      &.mb-3 {
        margin-bottom: 16px;
      }
    }
  }
}

.error {
  color: red;
  white-space: nowrap;
}

// ================= login scss end =============================

// ========================= navbar csss==============================

// =============== menuList css========================

.TableSection {
  & .tableHeader {
    & p {
      font-weight: 900;
      font-size: 50px;
      line-height: 60.51px;
      @include maxMediaQuery($smm) {
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
      }
      @include maxMediaQuery($lg) {
        font-size: 50px;
        text-align: center;
      }
      @media screen and (min-width: 280px) and (max-width: 384px) {
        font-size: 40px !important;
        white-space: nowrap;
      }
    }
  }
  & .tableBox {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    @include maxMediaQuery($xxl) {
      display: flex;
      justify-content: center;
    }
    @include maxMediaQuery($sm) {
      display: unset;
      justify-content: unset;
    }

    & .table-login {
      width: 409px;
      height: 103px;
      font-size: 32px;
      border-radius: 16px;
      text-transform: uppercase;
      background-color: #323231;
      color: $light;
      border: none;
      font-weight: 900;
      white-space: nowrap;
      background-image: url("../../Images/table.png");
      background-repeat: no-repeat;
      background-position: 49px center;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      @include maxMediaQuery($xl) {
        background-position: 23px center;
        font-size: 25px;
      }
      @include maxMediaQuery($lg) {
        width: 245px;
        font-size: 22px;
        background-position: 18px center;
        height: 103px;
      }
      @include maxMediaQuery($md) {
        width: 410px;
        font-size: 22px;
        background-position: 45px center;
        height: 103px;
      }
      @include maxMediaQuery($smm) {
        width: 350px !important;
        background-position: 30px center;
        height: 97px;
      }
      @media screen and (min-width: 280px) and (max-width: 384px) {
        width: 255px !important;
      }
      @include maxMediaQuery($sm) {
        &.mb-3 {
          margin-bottom: 16px;
        }
      }
    }
  }
}


// ======================= category start =======================
.MainCategory{
  
}









// ======================= category code  =======================